---
layout: default
title: AsHES Workshop
---
<div id="sub-frame">
	<h1>Workshop Scope and Goals</h1>
	<div id="description">

	<p>The current computing landscape has witnessed a rapid and ongoing surge of change and innovation. This change has been driven by the relentless need to improve the energy-efficiency, memory, and computational throughput across all levels of the architectural hierarchy. The mounting volume of data that today's systems need to organize poses new challenges to the architecture, which can no longer be solved with classical, homogeneous designs. Advancements in all these areas have led Heterogeneous systems to become the norm rather than the exception.</p>

	<p>Heterogeneous computing leverages a diverse set of computing (CPU, GPU, FPGA, TPU, DPU, etc.) and Memory (HBM, Persistent Memory, Coherent PCI protocols, etc.), hierarchical systems, and units to accelerate the execution of a diverse set of applications. Emerging and existing areas such as AI, BigData, Cloud Computing, Edge-Computing, Real-time systems, High-Performance Computing, and others have seen a real benefit due to Heterogeneous computer architectures. In addition, a new wave of accelerators based on dataflow architecture instead of the traditional von Neumann is sure to bring additional challenges and opportunities.</p>

 <p> These new heterogeneous architectures often also require the development of new applications and programming models, to satisfy these new architectures and to fully utilize their capabilities. This workshop focuses on understanding the implications of heterogeneous designs at all levels of the computing system stack, such as hardware, compiler optimizations, porting of applications, and developing programming environments for current and emerging systems in all the above-mentioned areas. It seeks to ground heterogeneous system design research through studies of application kernels and/or whole applications, as well as shed light on new tools, libraries, and runtime systems that improve the performance and productivity of applications on heterogeneous systems.</p>

 <p>The goal of this workshop is to bring together researchers and practitioners who are at the forefront of Heterogeneous computing to learn the opportunities and challenges in future Heterogeneous system design trends and thus help influence the next trends in this area.</p>


		<p><b>Topics of interest include</b> (but are not limited to):</p>
		Applications for GPU-based systems, and hybrid/heterogeneous systems
		<ul>
			<li>Applications leveraging GPUs, FPGAs, TPUs, DPUs, and On-Chip Accelerators</li>
			<li>AI/ML workloads including generative AI training/inference (e.g. LLMs, LDMs), recommendation systems and
				AI for
				science and engineering</li>
			<li>Scientific and engineering applications</li>
			<li>Big data and cloud computing workloads</li>
			<li>Edge computing and real-time applications</li>
			<li>Application behavior characterization and performance analysis</li>
			<li>Domain-specific applications and benchmarks</li>
		</ul>

		Systems Architecture and Design
		<ul>
			<li>Heterogeneous system architectures (ARM, RISC-V, custom extensions)</li>
			<li>Memory hierarchies and novel memory systems</li>
			<li>Energy efficiency and thermal considerations</li>
			<li>Security and reliability in heterogeneous systems</li>
			<li>Design space exploration and trade-off analysis</li>
			<li>Performance modeling and prediction</li>
			<li>Emerging accelerator architectures (dataflow, neuromorphic, etc.)</li>
		</ul>

		Programming Models and Development Tools
		<ul>
			<li>High-level programming models (OpenMP, OpenACC, SYCL, OneAPI, Kokkos, Raja)</li>
			<li>Low-level programming interfaces (OpenCL, CUDA)</li>
			<li>Debugging and profiling tools</li>
			<li>Performance optimization and autotuning frameworks</li>
			<li>Testing and verification methods for heterogeneous systems</li>
			<li>Workload characterization tools</li>
			<li>Benchmarking suites and methodologies</li>
		</ul>

		Heterogeneous System Software and Runtime Systems
		<ul>
			<li>Compiler optimizations for heterogeneous systems</li>
			<li>Runtime systems and resource management</li>
			<li>Operating system support for heterogeneous computing</li>
			<li>Virtualization and containerization for heterogeneous systems</li>
			<li>Task scheduling and load balancin</li>
			<li>Memory management and data movement optimization</li>
			<li>System-level monitoring and telemetry</li>
			<li>Integration of heterogeneous components and interfaces</li>
			<li>Communication software/middleware for heterogeneous systems</li>
		</ul>

		<p><b>Paper Tracks:</b></p>

		<p>There are two paper tracks available for AsHES’26:</p>
		<ul>
			<li>1) Full paper track (10 pages) including citations;</li>
			<li>2) Short paper track (maximum of 4 pages) including citations; meant to highlight early investigations
				of innovative ideas.</li>
		</ul>

		<p>Submitted papers will undergo a single-blind review process, so the authors do not need to anonymize a
			submission.</p>

	</div> <!-- End of Workshop Scope and Goals -->

	{% include dates.html %}

	<h1>Best-paper award</h1>
	<div id="description">
		The best paper will receive a certificate of recognition. This award will be given based on the paper's
		originality, impact, and overall quality
	</div> <!-- End of Best-paper award -->

	<h1>Proceedings</h1>
	<div id="description">
		The proceedings of this workshop will be published electronically together with IPDPS proceedings via the IEEE
		Xplore Digital Library.
	</div> <!-- End of Proceedings -->

	{% include instructions.html %}
	{% include journal.html %}

</div> <!-- End of sub-frame -->
