---
layout: default
title: AsHES Workshop
---
<div id="sub-frame">
	<h1>Workshop Scope and Goals</h1>

	<div id="description">
		<p>The computing landscape is undergoing unprecedented transformation and heterogeneous systems the new standard.
Driven by critical demands for enhanced energy efficiency, memory capacity, and computational throughput, modern architectures are evolving at every level.
Traditional homogeneous designs can no longer meet today's demands of computational throughput, memory bandwidth, and energy efficiency.</p>

<p>Heterogeneous computing harnesses diverse processing units and memory technologies within hierarchical systems to accelerate varied applications.
Fields ranging from AI and big data to cloud computing, edge computing, real-time systems, and high-performance computing have achieved significant gains through heterogeneous architectures.
Additionally, emerging dataflow-based accelerators that depart from traditional von Neumann architecture promise both new challenges and opportunities.</p>

<p>These new heterogeneous architectures demand new applications and programming models to fully utilize their capabilities.
This workshop examines heterogeneous design implications across the entire computing stack - from hardware and compiler optimizations to application development and programming environments.
It seeks to ground heterogeneous system design research through studies of application kernels and/or whole applications, as well as shed light on new tools, libraries, and runtime systems that improve the performance and productivity of applications on heterogeneous systems.</p>

<p>The goal of this workshop is to bring together researchers and practitioners who are at the forefront of heterogeneous computing to learn the opportunities and challenges in future heterogeneous system design trends and thus help influence the next trends in this area.</p>
<p>Topics of interest include (but are not limited to):</p>

<h3>Applications and Workloads</h3>
<ul>
<li>Applications leveraging GPUs, FPGAs, TPUs, DPUs, on-chip accelerators, or other novel architectures.</li>
<li>AI/ML workloads including generative AI training/inference (e.g. LLMs, LDMs), recommendation systems and AI for science and engineering</li>
<li>Scientific and engineering applications</li>
<li>Big data and cloud computing workloads</li>
<li>Edge computing and real-time applications</li>
<li>Application behavior characterization and performance analysis</li>
<li>Domain-specific applications and benchmarks</li>
</ul>

<h3>Systems Architecture and Design</h3>
<ul>
<li>Heterogeneous system architectures (ARM, RISC-V, custom extensions)</li>
<li>Memory hierarchies and novel memory systems</li>
<li>Energy efficiency and thermal considerations</li>
<li>Security and reliability in heterogeneous systems</li>
<li>Design space exploration and trade-off analysis</li>
<li>Performance modeling and prediction</li>
<li>Emerging accelerator architectures (dataflow, neuromorphic, etc.)</li>
</ul>


<h3>Programming Models and Development Tools</h3>
<ul>
<li>High-level programming models (OpenMP, OpenACC, SYCL, OneAPI, Kokkos, Raja)</li>
<li>Low-level programming interfaces (OpenCL, CUDA)</li>
<li>Debugging and profiling tools</li>
<li>Performance optimization and autotuning frameworks</li>
<li>Testing and verification methods for heterogeneous systems</li>
<li>Workload characterization tools</li>
<li>Benchmarking suites and methodologies</li>
<li>Heterogeneous System Software and Runtime Systems</li>
<li>Compiler optimizations for heterogeneous systems</li>
</ul>
<h3>Runtime systems and resource management</h3>
<ul>
<li>Operating system support for heterogeneous computing></li>
<li>Virtualization and containerization for heterogeneous systems</li>
<li>Task scheduling and load balancing</li>
<li>Memory management and data movement optimization</li>
<li>System-level monitoring and telemetry</li>
<li>Integration of heterogeneous components and interfaces</li>
<li>Communication software/middleware for heterogeneous systems</li>
</ul>

	</div> <!-- End of Workshop Scope and Goals -->

	{% include dates.html %}

	<h1>Best-paper award</h1>
	<div id="description">
		<p>The best paper will receive a certificate of recognition. This award will be given based on the paper's originality, impact, and overall quality.</p>
	</div> <!-- End of Best-paper award -->

	<h1>Proceedings</h1>
	<div id="description">
		TBD
	</div> <!-- End of Proceedings -->

	{% include instructions.html %}
	{% include journal.html %}

</div> <!-- End of sub-frame -->
