<h1>Papers Submission Instructions</h1>
<div id="description">

  <p>There are two paper tracks available for AsHES’26:</p>
  <ul>
    <li>1) Full paper track (10 pages) including citations;</li>
    <li>2) Short paper track (maximum of 4 pages) including citations; meant to highlight early investigations of innovative ideas.
Submitted papers will undergo a single-blind review process, so the authors do not need to anonymize a submission.</li>
  </ul>
  <p>Submission site: <ul><a href="https://ssl.linklings.net/conferences/ipdps/?page=Submit&id=AsHESWorkshopFullSubmission&site=ipdps2026">https://ssl.linklings.net/conferences/ipdps/?page=Submit&id=AsHESWorkshopFullSubmission&site=ipdps2026</ul></p></p>



</div>
