<h1>Papers Submission Instructions</h1>
<div id="description">

  <p>Papers should present original research and should provide sufficient background material to make them accessible to the broader community.</p>

  <p>Regular paper track submitted manuscripts may not exceed 10 single-spaced double-column pages using 10-point size font on 8.5x11 inch pages (IEEE conference style), including figures, tables, and references. Please follow the submission templates described on the <a href="http://www.ipdps.org/ipdps2025/2025-call-for-papers.html">IPDPS website</a>.</p>

  <p>Short paper track submitted manuscripts follow the same instructions as the regular manuscript but may not exceed 4 pages.</p>

  <p>Submissions will be judged based on relevance, significance, originality, correctness, and clarity.</p>

  <p>Submission site: <a href="https://easychair.org/conferences/?conf=ashes2025">https://easychair.org/conferences/?conf=ashes2025</a></p>

</div>

